<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmmems.mapper.CalFluxcalResultExtreMapper" >
  <resultMap id="BaseResultMap" type="com.xmmems.domain.cal.CalFluxcalResultExtre" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteName" property="siteName" jdbcType="VARCHAR" />
    <result column="calCode" property="calCode" jdbcType="VARCHAR" />
    <result column="realVal" property="realVal" jdbcType="VARCHAR" />
    <result column="allowVal" property="allowVal" jdbcType="VARCHAR" />
    <result column="subVal" property="subVal" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, siteName, calCode, realVal, allowVal, subVal
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xmmems.domain.cal.CalFluxcalResultExtreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cal_fluxcal_result_extre
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cal_fluxcal_result_extre
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cal_fluxcal_result_extre
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xmmems.domain.cal.CalFluxcalResultExtre" >
    insert into cal_fluxcal_result_extre (id, siteName, calCode, 
      realVal, allowVal, subVal
      )
    values (#{id,jdbcType=INTEGER}, #{siteName,jdbcType=VARCHAR}, #{calCode,jdbcType=VARCHAR}, 
      #{realVal,jdbcType=VARCHAR}, #{allowVal,jdbcType=VARCHAR}, #{subVal,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xmmems.domain.cal.CalFluxcalResultExtre" >
    insert into cal_fluxcal_result_extre
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteName != null" >
        siteName,
      </if>
      <if test="calCode != null" >
        calCode,
      </if>
      <if test="realVal != null" >
        realVal,
      </if>
      <if test="allowVal != null" >
        allowVal,
      </if>
      <if test="subVal != null" >
        subVal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteName != null" >
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="calCode != null" >
        #{calCode,jdbcType=VARCHAR},
      </if>
      <if test="realVal != null" >
        #{realVal,jdbcType=VARCHAR},
      </if>
      <if test="allowVal != null" >
        #{allowVal,jdbcType=VARCHAR},
      </if>
      <if test="subVal != null" >
        #{subVal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmmems.domain.cal.CalFluxcalResultExtre" >
    update cal_fluxcal_result_extre
    <set >
      <if test="siteName != null" >
        siteName = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="calCode != null" >
        calCode = #{calCode,jdbcType=VARCHAR},
      </if>
      <if test="realVal != null" >
        realVal = #{realVal,jdbcType=VARCHAR},
      </if>
      <if test="allowVal != null" >
        allowVal = #{allowVal,jdbcType=VARCHAR},
      </if>
      <if test="subVal != null" >
        subVal = #{subVal,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmmems.domain.cal.CalFluxcalResultExtre" >
    update cal_fluxcal_result_extre
    set siteName = #{siteName,jdbcType=VARCHAR},
      calCode = #{calCode,jdbcType=VARCHAR},
      realVal = #{realVal,jdbcType=VARCHAR},
      allowVal = #{allowVal,jdbcType=VARCHAR},
      subVal = #{subVal,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>