<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmmems.mapper.EnvRealtimeQualityLevelMapper" >
  <resultMap id="BaseResultMap" type="com.xmmems.domain.env.EnvRealtimeQualityLevel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteName" property="siteName" jdbcType="VARCHAR" />
    <result column="sectionName" property="sectionName" jdbcType="VARCHAR" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    <result column="goalQualityLevel" property="goalQualityLevel" jdbcType="VARCHAR" />
    <result column="realQualityLevel" property="realQualityLevel" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="firstPollutant" property="firstPollutant" jdbcType="VARCHAR" />
    <result column="online" property="online" jdbcType="VARCHAR" />
    <result column="moniterTime" property="moniterTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, siteName, sectionName, areaName, goalQualityLevel, realQualityLevel, status, 
    firstPollutant, online, moniterTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xmmems.domain.env.EnvRealtimeQualityLevelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from env_realtime_quality_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from env_realtime_quality_level
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from env_realtime_quality_level
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xmmems.domain.env.EnvRealtimeQualityLevel" >
    insert into env_realtime_quality_level (id, siteName, sectionName, 
      areaName, goalQualityLevel, realQualityLevel, 
      status, firstPollutant, online, 
      moniterTime)
    values (#{id,jdbcType=INTEGER}, #{siteName,jdbcType=VARCHAR}, #{sectionName,jdbcType=VARCHAR}, 
      #{areaName,jdbcType=VARCHAR}, #{goalQualityLevel,jdbcType=VARCHAR}, #{realQualityLevel,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{firstPollutant,jdbcType=VARCHAR}, #{online,jdbcType=VARCHAR}, 
      #{moniterTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xmmems.domain.env.EnvRealtimeQualityLevel" >
    insert into env_realtime_quality_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteName != null" >
        siteName,
      </if>
      <if test="sectionName != null" >
        sectionName,
      </if>
      <if test="areaName != null" >
        areaName,
      </if>
      <if test="goalQualityLevel != null" >
        goalQualityLevel,
      </if>
      <if test="realQualityLevel != null" >
        realQualityLevel,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="firstPollutant != null" >
        firstPollutant,
      </if>
      <if test="online != null" >
        online,
      </if>
      <if test="moniterTime != null" >
        moniterTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteName != null" >
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="sectionName != null" >
        #{sectionName,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="goalQualityLevel != null" >
        #{goalQualityLevel,jdbcType=VARCHAR},
      </if>
      <if test="realQualityLevel != null" >
        #{realQualityLevel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="firstPollutant != null" >
        #{firstPollutant,jdbcType=VARCHAR},
      </if>
      <if test="online != null" >
        #{online,jdbcType=VARCHAR},
      </if>
      <if test="moniterTime != null" >
        #{moniterTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmmems.domain.env.EnvRealtimeQualityLevel" >
    update env_realtime_quality_level
    <set >
      <if test="siteName != null" >
        siteName = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="sectionName != null" >
        sectionName = #{sectionName,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        areaName = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="goalQualityLevel != null" >
        goalQualityLevel = #{goalQualityLevel,jdbcType=VARCHAR},
      </if>
      <if test="realQualityLevel != null" >
        realQualityLevel = #{realQualityLevel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="firstPollutant != null" >
        firstPollutant = #{firstPollutant,jdbcType=VARCHAR},
      </if>
      <if test="online != null" >
        online = #{online,jdbcType=VARCHAR},
      </if>
      <if test="moniterTime != null" >
        moniterTime = #{moniterTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmmems.domain.env.EnvRealtimeQualityLevel" >
    update env_realtime_quality_level
    set siteName = #{siteName,jdbcType=VARCHAR},
      sectionName = #{sectionName,jdbcType=VARCHAR},
      areaName = #{areaName,jdbcType=VARCHAR},
      goalQualityLevel = #{goalQualityLevel,jdbcType=VARCHAR},
      realQualityLevel = #{realQualityLevel,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      firstPollutant = #{firstPollutant,jdbcType=VARCHAR},
      online = #{online,jdbcType=VARCHAR},
      moniterTime = #{moniterTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>