<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmmems.mapper.EnvWarningGroupMapper" >
  <resultMap id="BaseResultMap" type="com.xmmems.domain.env.EnvWarningGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="groupName" property="groupName" jdbcType="VARCHAR" />
    <result column="resendNum" property="resendNum" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="isvalid" property="isvalid" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xmmems.domain.env.EnvWarningGroupWithBLOBs" extends="BaseResultMap" >
    <result column="relateSite" property="relateSite" jdbcType="LONGVARCHAR" />
    <result column="relatePerson" property="relatePerson" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, groupName, resendNum, remark, isvalid
  </sql>
  <sql id="Blob_Column_List" >
    relateSite, relatePerson
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.xmmems.domain.env.EnvWarningGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from env_warning_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xmmems.domain.env.EnvWarningGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from env_warning_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from env_warning_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from env_warning_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xmmems.domain.env.EnvWarningGroupWithBLOBs" >
    insert into env_warning_group (id, groupName, resendNum, 
      remark, isvalid, relateSite, 
      relatePerson)
    values (#{id,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, #{resendNum,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{isvalid,jdbcType=CHAR}, #{relateSite,jdbcType=LONGVARCHAR}, 
      #{relatePerson,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xmmems.domain.env.EnvWarningGroupWithBLOBs" >
    insert into env_warning_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupName != null" >
        groupName,
      </if>
      <if test="resendNum != null" >
        resendNum,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isvalid != null" >
        isvalid,
      </if>
      <if test="relateSite != null" >
        relateSite,
      </if>
      <if test="relatePerson != null" >
        relatePerson,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="resendNum != null" >
        #{resendNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=CHAR},
      </if>
      <if test="relateSite != null" >
        #{relateSite,jdbcType=LONGVARCHAR},
      </if>
      <if test="relatePerson != null" >
        #{relatePerson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmmems.domain.env.EnvWarningGroupWithBLOBs" >
    update env_warning_group
    <set >
      <if test="groupName != null" >
        groupName = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="resendNum != null" >
        resendNum = #{resendNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        isvalid = #{isvalid,jdbcType=CHAR},
      </if>
      <if test="relateSite != null" >
        relateSite = #{relateSite,jdbcType=LONGVARCHAR},
      </if>
      <if test="relatePerson != null" >
        relatePerson = #{relatePerson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xmmems.domain.env.EnvWarningGroupWithBLOBs" >
    update env_warning_group
    set groupName = #{groupName,jdbcType=VARCHAR},
      resendNum = #{resendNum,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      isvalid = #{isvalid,jdbcType=CHAR},
      relateSite = #{relateSite,jdbcType=LONGVARCHAR},
      relatePerson = #{relatePerson,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmmems.domain.env.EnvWarningGroup" >
    update env_warning_group
    set groupName = #{groupName,jdbcType=VARCHAR},
      resendNum = #{resendNum,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      isvalid = #{isvalid,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>