<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmmems.mapper.TempMoniDataMapper" >
  <resultMap id="BaseResultMap" type="com.xmmems.domain.temp.TempMoniData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="siteName" property="siteName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="moniTime" property="moniTime" jdbcType="TIMESTAMP" />
    <result column="sw" property="sw" jdbcType="VARCHAR" />
    <result column="ph" property="ph" jdbcType="VARCHAR" />
    <result column="rjy" property="rjy" jdbcType="VARCHAR" />
    <result column="ddl" property="ddl" jdbcType="VARCHAR" />
    <result column="zd" property="zd" jdbcType="VARCHAR" />
    <result column="gmsy" property="gmsy" jdbcType="VARCHAR" />
    <result column="zl" property="zl" jdbcType="VARCHAR" />
    <result column="ad" property="ad" jdbcType="VARCHAR" />
    <result column="xd" property="xd" jdbcType="VARCHAR" />
    <result column="fhw" property="fhw" jdbcType="VARCHAR" />
    <result column="qhw" property="qhw" jdbcType="VARCHAR" />
    <result column="cd" property="cd" jdbcType="VARCHAR" />
    <result column="pb" property="pb" jdbcType="VARCHAR" />
    <result column="cu" property="cu" jdbcType="VARCHAR" />
    <result column="zn" property="zn" jdbcType="VARCHAR" />
    <result column="flow" property="flow" jdbcType="VARCHAR" />
    <result column="delFlag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, siteName, status, moniTime, sw, ph, rjy, ddl, zd, gmsy, zl, ad, xd, fhw, qhw, 
    cd, pb, cu, zn, flow, delFlag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xmmems.domain.temp.TempMoniDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from temp_moni_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from temp_moni_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from temp_moni_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xmmems.domain.temp.TempMoniData" >
    insert into temp_moni_data (id, siteName, status, 
      moniTime, sw, ph, 
      rjy, ddl, zd, gmsy, 
      zl, ad, xd, fhw, 
      qhw, cd, pb, cu, 
      zn, flow, delFlag)
    values (#{id,jdbcType=INTEGER}, #{siteName,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{moniTime,jdbcType=TIMESTAMP}, #{sw,jdbcType=VARCHAR}, #{ph,jdbcType=VARCHAR}, 
      #{rjy,jdbcType=VARCHAR}, #{ddl,jdbcType=VARCHAR}, #{zd,jdbcType=VARCHAR}, #{gmsy,jdbcType=VARCHAR}, 
      #{zl,jdbcType=VARCHAR}, #{ad,jdbcType=VARCHAR}, #{xd,jdbcType=VARCHAR}, #{fhw,jdbcType=VARCHAR}, 
      #{qhw,jdbcType=VARCHAR}, #{cd,jdbcType=VARCHAR}, #{pb,jdbcType=VARCHAR}, #{cu,jdbcType=VARCHAR}, 
      #{zn,jdbcType=VARCHAR}, #{flow,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xmmems.domain.temp.TempMoniData" >
    insert into temp_moni_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteName != null" >
        siteName,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="moniTime != null" >
        moniTime,
      </if>
      <if test="sw != null" >
        sw,
      </if>
      <if test="ph != null" >
        ph,
      </if>
      <if test="rjy != null" >
        rjy,
      </if>
      <if test="ddl != null" >
        ddl,
      </if>
      <if test="zd != null" >
        zd,
      </if>
      <if test="gmsy != null" >
        gmsy,
      </if>
      <if test="zl != null" >
        zl,
      </if>
      <if test="ad != null" >
        ad,
      </if>
      <if test="xd != null" >
        xd,
      </if>
      <if test="fhw != null" >
        fhw,
      </if>
      <if test="qhw != null" >
        qhw,
      </if>
      <if test="cd != null" >
        cd,
      </if>
      <if test="pb != null" >
        pb,
      </if>
      <if test="cu != null" >
        cu,
      </if>
      <if test="zn != null" >
        zn,
      </if>
      <if test="flow != null" >
        flow,
      </if>
      <if test="delFlag != null" >
        delFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteName != null" >
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="moniTime != null" >
        #{moniTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sw != null" >
        #{sw,jdbcType=VARCHAR},
      </if>
      <if test="ph != null" >
        #{ph,jdbcType=VARCHAR},
      </if>
      <if test="rjy != null" >
        #{rjy,jdbcType=VARCHAR},
      </if>
      <if test="ddl != null" >
        #{ddl,jdbcType=VARCHAR},
      </if>
      <if test="zd != null" >
        #{zd,jdbcType=VARCHAR},
      </if>
      <if test="gmsy != null" >
        #{gmsy,jdbcType=VARCHAR},
      </if>
      <if test="zl != null" >
        #{zl,jdbcType=VARCHAR},
      </if>
      <if test="ad != null" >
        #{ad,jdbcType=VARCHAR},
      </if>
      <if test="xd != null" >
        #{xd,jdbcType=VARCHAR},
      </if>
      <if test="fhw != null" >
        #{fhw,jdbcType=VARCHAR},
      </if>
      <if test="qhw != null" >
        #{qhw,jdbcType=VARCHAR},
      </if>
      <if test="cd != null" >
        #{cd,jdbcType=VARCHAR},
      </if>
      <if test="pb != null" >
        #{pb,jdbcType=VARCHAR},
      </if>
      <if test="cu != null" >
        #{cu,jdbcType=VARCHAR},
      </if>
      <if test="zn != null" >
        #{zn,jdbcType=VARCHAR},
      </if>
      <if test="flow != null" >
        #{flow,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmmems.domain.temp.TempMoniData" >
    update temp_moni_data
    <set >
      <if test="siteName != null" >
        siteName = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="moniTime != null" >
        moniTime = #{moniTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sw != null" >
        sw = #{sw,jdbcType=VARCHAR},
      </if>
      <if test="ph != null" >
        ph = #{ph,jdbcType=VARCHAR},
      </if>
      <if test="rjy != null" >
        rjy = #{rjy,jdbcType=VARCHAR},
      </if>
      <if test="ddl != null" >
        ddl = #{ddl,jdbcType=VARCHAR},
      </if>
      <if test="zd != null" >
        zd = #{zd,jdbcType=VARCHAR},
      </if>
      <if test="gmsy != null" >
        gmsy = #{gmsy,jdbcType=VARCHAR},
      </if>
      <if test="zl != null" >
        zl = #{zl,jdbcType=VARCHAR},
      </if>
      <if test="ad != null" >
        ad = #{ad,jdbcType=VARCHAR},
      </if>
      <if test="xd != null" >
        xd = #{xd,jdbcType=VARCHAR},
      </if>
      <if test="fhw != null" >
        fhw = #{fhw,jdbcType=VARCHAR},
      </if>
      <if test="qhw != null" >
        qhw = #{qhw,jdbcType=VARCHAR},
      </if>
      <if test="cd != null" >
        cd = #{cd,jdbcType=VARCHAR},
      </if>
      <if test="pb != null" >
        pb = #{pb,jdbcType=VARCHAR},
      </if>
      <if test="cu != null" >
        cu = #{cu,jdbcType=VARCHAR},
      </if>
      <if test="zn != null" >
        zn = #{zn,jdbcType=VARCHAR},
      </if>
      <if test="flow != null" >
        flow = #{flow,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        delFlag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmmems.domain.temp.TempMoniData" >
    update temp_moni_data
    set siteName = #{siteName,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      moniTime = #{moniTime,jdbcType=TIMESTAMP},
      sw = #{sw,jdbcType=VARCHAR},
      ph = #{ph,jdbcType=VARCHAR},
      rjy = #{rjy,jdbcType=VARCHAR},
      ddl = #{ddl,jdbcType=VARCHAR},
      zd = #{zd,jdbcType=VARCHAR},
      gmsy = #{gmsy,jdbcType=VARCHAR},
      zl = #{zl,jdbcType=VARCHAR},
      ad = #{ad,jdbcType=VARCHAR},
      xd = #{xd,jdbcType=VARCHAR},
      fhw = #{fhw,jdbcType=VARCHAR},
      qhw = #{qhw,jdbcType=VARCHAR},
      cd = #{cd,jdbcType=VARCHAR},
      pb = #{pb,jdbcType=VARCHAR},
      cu = #{cu,jdbcType=VARCHAR},
      zn = #{zn,jdbcType=VARCHAR},
      flow = #{flow,jdbcType=VARCHAR},
      delFlag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>